body {
  font-family: 'Hanken Grotesk', sans-serif;
  ;
}

.container {
  display: flex;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 7px 7px 5px #b9bab8;
  -moz-box-shadow: 7px 7px 5px #b9bab8;
  box-shadow: 7px 7px 5px #b9bab8;
  background-color: #DDDDDD;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
  color: #888888;
  text-align: center;
  border-radius: 8px;
  height: 370px;
  max-width: 650px;
}

.circle-container {
  background-color: #8B5CF6;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.result {
  margin: 15px 0px;
  color: azure;
}

.number-score {
  font-size: 55px;
  color: white;
  font-weight: bold;
}

.score {
  font-size: 13px;
}

.great {
  color: white;
  font-size: 25px;
  ;
  margin-top: 15px;
}

.text-score {
  margin-top: 25px;
  width: 75%;
  color: azure;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: #5456f0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
}

.summary-container {
  flex: 1;
  border-radius: 8px;
}

.summary-title {
  display: block;
  margin-top: 15px;
  color: blue;
}

.details {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detail {
  background-color: #888888;
  color: azure;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  height: 40px;
  border-radius: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 10px;

}

.icon {
  margin-right: 10px;
}

.icon-score {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.button {
  background-color: #5456f0;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  width: 90%;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 15px;
}

@media screen and (max-width: 730px) {
  .container{
    flex-direction: column;
    height: auto;
  }

  .summary-title, .detail{
    margin-bottom: 15px;
  }
}
